body,header,main,footer,div,ul,li,a,input,span,strong,img{
    margin: 0;
    padding: 0;
    border: none;
}
html{
    width: 100%;
}
body{
    width: 100%;
    font: normal 14px sans-serif;
    background-color: rgba(196, 196, 196, 0.35);
}
ul{
    list-style: none;
}
a{
    font: normal 16px sans-serif;
    text-decoration: none;
    color: white;
    transition: color 0.5s;
}
a:hover{
    color: gray;
}



/*********************【begin header】********************/
header{
    width: 100%;
    height: 40px;
    background: black;
}
header .header{
    /*width: 95%;*/
    width: 1215px;
    /*min-width: 860px;*/
    margin: 0 auto;
    height: 40px;
    background: black;
    display: flex;
    justify-content: space-between;
}
/* header_left */
header .header .header_left{
    width: 50%;
    min-width: 460px;
    height: 40px;
    /*background: pink;*/
    display: flex;
    justify-content: flex-start;
}
header .header .header_left .logo_img{
    height: 40px;
    width: 200px;
    /*background: red;*/
    padding: 5px 0px;
    box-sizing: border-box;
    margin-right: 10px;
}
header .header .header_left .logo_img>div{
    height: 30px;
    width: 200px;
    background: gray;
}
header .header .header_left .logo_img>div:hover{
    cursor: pointer;
}
header .header .header_left .nav{
    height: 40px;
    width: 400px;
    /*background: #59ff59;*/
}
header .header .header_left .nav ul{
    display: flex;
    justify-content: space-between;
}
header .header .header_left .nav ul li{
    height: 40px;
    width: 65px;
    /*background: #7e99ff;*/
    line-height: 40px;
    text-align: center;
}
header .header .header_left .nav ul li a{
    font-size: 16px;
}
/* header_right */
header .header .header_right{
    width: 35%;
    min-width: 400px;
    height: 40px;
    /*background: yellow;*/
    display: flex;
    justify-content: space-between;
    padding: 3px 0px;
    box-sizing: border-box;
}
header .header .header_right .search{
    height: 30px;
    width: 300px;
    /*background: pink;*/
    border: 2px solid black;
    display: flex;
    justify-content: flex-start;
}
header .header .header_right .search .search_text{
    height: 30px;
    width: 250px;
    outline: none;
}
header .header .header_right .search .search_button{
    height: 30px;
    width: 50px;
    outline: none;
    color: white;
    font-size: 14px;
    transition: color 0.5s;
}
header .header .header_right .search .search_button:hover{
    cursor: pointer;
    color: gray;
}
/***********/
/* 登录前 */
header .header .header_right .login_no{
    height: 34px;
    width: 100px;
    line-height: 34px;
    text-align: center;
    display: block;
}
header .header .header_right .login_no a{
    font-size: 14px;
}
/***********/
/* 登录后 */
header .header .header_right .login_yes{
    height: 34px;
    width: 100px;
    text-align: right;
    display: none;
}
header .header .header_right .login_yes img{
    height: 34px;
    width: 34px;
    border-radius: 50%;
}
header .header .header_right .login_yes img:hover{
    cursor: pointer;
}
header .header .header_right .login_yes .login_yes_h{
    display: none;
    width: 150px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.79);
    position: relative;
    text-align: left;
    z-index: 1000;
    padding: 20px 10px;
    box-sizing: border-box;
    right: 50px;
    flex-direction: column;
    justify-content: space-between;
}
header .header .header_right .login_yes:hover .login_yes_h{
    display: flex;
}
header .header .header_right .login_yes .login_yes_h .login_yes_h_hr{
    width: 130px;
    height: 1px;
    background-color: #b9b9b9;
}
header .header .header_right .login_yes .login_yes_h div:not([class='login_yes_h_hr']){
    margin-left: 10px;
    transition: color 0.5s;
}
header .header .header_right .login_yes .login_yes_h div:not([class='login_yes_h_hr']):hover{
    cursor: pointer;
    color: #a0b8ff;
}
/********************* end header ********************/


/*******************************header*************************************/
/*******************************section*************************************/
.sect{
    width: 1215px;
    /*background-color: rgba(108, 109, 67, 0.33);*/
    margin: auto;
    text-align: center;
    margin-top: 30px;
}
.sect .sect-one{
    width: 100%;
    height: 400px;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
}
.sect .sect-one .sect-one-left {
    width: 18%;
    height: 400px;
    float: left;
    background-color: #2E323E;
    color:rgba(255, 255, 255, 0.6);
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}
.sect .sect-one .sect-one-left .dis-li{
    width: 100%;
}
.sect-one-left ul li{
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
}
/*.sect-one-left div:hover{*/
/*    cursor: pointer;*/
/*    color: white;*/
/*}*/
/*z这里隐藏的ul也会受到影响*/
.sect-one-left>ul li:hover{
    cursor: pointer;
    color: white;
}
.sect-one-a{
    width: 790px;
    height: 400px;
    display: none;
    position: absolute;background-color: white;
    left: 218px;
    top: 0;
    opacity: 0.8;
}
.item-one{
    width: 710px;
    height: 400px;
    margin: auto;
}
.item-one-up{
    width: 710px;
    height: 50px;
    text-align: start;
    line-height:50px;
}
.item-one-up span{
    bottom: 0;
    font-size: 18px;

}
.item-one-mid{
    width: 710px;
    height: 100px;
}
.item-one-mid ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: black;
}
.item-one-mid ul li{
    width: auto;
    white-space: nowrap;
    margin-right: 20px;
}
.item-one-mid ul li:hover{
    cursor: pointer;
    color: #00d6ff;
}
.item-one-bottom{
    width: 710px;
    height: 250px;
    /*background-color: aqua;*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item-one-bottom .item-one-bottom-a{
    width: 300px;
    height: 120px;
    /*background-color: #00d6ff;*/
    text-align: start;
    line-height: 175px;
    display: flex;
    color: black;
}


/**** 轮播图 ****/
.sect .sect-one .sect-one-middle .adb-img{
    width: 65%;
    height: 400px;
    /*background-color: #9bdbff;*/
    float: left;
}
.sect .sect-one .sect-one-middle .adb-img img{
    width: 100%;
    height: 100%;
    /*background-position: center center;*/
    object-fit: cover;
}
.sect .sect-one .sect-one-middle .adb-img .left_view{
    width: 32px;
    height: 32px;
    /*background: #ff4730;*/
    position: relative;
    top: -210px;
}
.sect .sect-one .sect-one-middle .adb-img button{
    width: 32px;
    height: 32px;
    outline: none;
    background: rgba(255, 255, 255, 0);
    border: none;
    transition: background-color 0.5s;
}
.sect .sect-one .sect-one-middle .adb-img button:hover{
    cursor: pointer;
    background: rgba(143, 156, 193, 0.44);
}
.sect .sect-one .sect-one-middle .adb-img .right_view{
    width: 32px;
    height: 32px;
    /*background: #3631ff;*/
    position: relative;
    top: -242px;
    right: -755px;
}

.sect .sect-one .sect-one-middle .adb-img .subscript{
    width: 95%;
    height: 50px;
    background: rgba(206, 62, 255, 0);
    position: relative;
    top: -118px;
}
.sect .sect-one .sect-one-middle .adb-img .subscript ul{
    width: 105px;
    height: 50px;
    margin: 0 auto;
    padding: 12px 0;
    box-sizing: border-box;
    float: right;
    display: flex;
    justify-content: space-between;
}
.sect .sect-one .sect-one-middle .adb-img .subscript ul li{
    width: 26px;
    height: 26px;
    padding: 8px;
    box-sizing: border-box;
}
.sect .sect-one .sect-one-middle .adb-img .subscript ul li i{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background: white;
}
/*************************************/

.sect .sect-one .sect-one-right{
    width: 17%;
    height: 400px;
    background-color: #2E323E;
    float: left;
    border-radius: 0px 5px 5px 0px;


}
.sect .sect-one .sect-one-right .login{
    width: 90%;
    height: 300px;
    margin:50px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.login .login-one a{
    font-size: 18px;
    padding-top: 20px;
}
.login .login-two a img{
    width: 84px;
    height: 84px;
    border-radius: 50%;
    box-sizing: border-box;
}
.login .login-three .btnlogin{
    width: 80%;
    height: 40px;
    font-size: 17px;
    background-color: lightskyblue;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
}
.login .login-three input:hover{
    cursor: pointer;
    color: gray;
}
.login .login-four{
    color:#0099FF;
}












.sect .sect-two{
    width: 100%;
    height: 500px;
    margin-top: 30px;
}
.sect .sect-two .sect-two-top{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.sect .sect-two .sect-two-top>div{
    font-size: 18px;
    line-height: 50px;

}
.sect .sect-two .sect-two-top .two-top-bottom:hover{
    color: #766ee1;
    cursor: pointer;
}
.sect .sect-two .sect-two-bottom{
    width: 100%;
    height: 450px;
    background-color: rgba(196, 196, 196, 0.24);
}
.sect .sect-two .sect-two-bottom .sect-two-bottom-left{
    width: 22%;
    height: 450px;
    background-color: #766ee1;
    float: left;
}
.sect-two-bottom-left:hover{
    transform: translate(0px,-2px);
    box-shadow: 0px 0px 5px;
}
.sect .sect-two .sect-two-bottom .sect-two-bottom-right{
    width: 75%;
    height: 450px;
    float: left;
    margin-left: 3%;
}
.sect .sect-two .sect-two-bottom .sect-two-bottom-right .sect-two-bottom-right-up{
    width: 100%;
    height: 215px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.up-one:hover{
    cursor: pointer;
    transform: translate(0px,-2px);
    box-shadow: 0px 0px 5px;
}
.up-one{
    width:22%;
    height: 215px;
    background-color: white;
    margin-bottom: 20px;
 }
.up-one img{
    width: 100%;
    height: 160px;
    object-fit: cover;
}
.up-one .up-one-bottom{
    text-align: left;
    margin-left: 5px;
}
.up-one .up-one-bottom .fi{
    width: 180px;
    height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp:1;
}
.up-one-bottom .fir{
    margin-top: 5px;
    font-size: 12px;
    color: gray;
}
.sect .sect-two .sect-two-bottom .sect-two-bottom-right .sect-two-bottom-right-down{
    width: 100%;
    height: 215px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
/*.down-one:hover{*/
/*    transform: translate(0px,-2px);*/
/*    box-shadow: 0px 0px 5px;*/
/*}*/
/*.down-one{*/
/*    width:22%;*/
/*    height: 215px;*/
/*    background-color: white;*/
/*}*/
/*.down-one img{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/
/*.down-one .down-one-bottom{*/
/*    text-align: left;*/
/*    margin-left: 5px;*/
/*}*/
/*.down-one-bottom .fir{*/
/*    margin-top: 5px;*/
/*    font-size: 12px;*/
/*    color: gray;*/
/*}*/




.sect .sect-three{
    width: 100%;
    height: 500px;
    margin-top: 30px;
}
.sect .sect-three .sect-three-top{
    width: 100%;
    height: 50px;
    /*background-color: #55e1cc;*/
    text-align: center;
}
.sect .sect-three .sect-three-top{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.sect .sect-three .sect-three-top>div{
    font-size: 18px;
    line-height: 50px;

}
.sect .sect-three .sect-three-top .three-top-bottom:hover{
    color: #766ee1;
    cursor: pointer;
}
.sect .sect-three .sect-three-bottom{
    width: 100%;
    height: 450px;
    background-color: rgba(196, 196, 196, 0.24);
;
    text-align: center;
}
.sect .sect-three .sect-three-bottom .sect-three-bottom-left{
    width: 22%;
    height: 450px;
    background-color: #766ee1;
    text-align: center;
    float: left;
}
.sect-three-bottom-left:hover{
    transform: translate(0px,-2px);
    box-shadow: 0px 0px 5px;
}
.sect .sect-three .sect-three-bottom .sect-three-bottom-right{
    width: 75%;
    height: 450px;
    text-align: center;
    float: left;
    margin-left: 3%;
}
.sect .sect-three .sect-three-bottom .sect-three-bottom-right .sect-three-bottom-right-up{
    width: 100%;
    height: 215px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}





.sect .sect-four{
    width: 100%;
    height: 500px;
    margin-top: 30px;
}
.sect .sect-four .sect-four-top{
    width: 100%;
    height: 50px;
    /*background-color: #55e1cc;*/
    text-align: center;
}
.sect .sect-four .sect-four-top{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.sect .sect-four .sect-four-top>div{
    font-size: 18px;
    line-height: 50px;

}
.sect .sect-four .sect-four-top .four-top-bottom:hover{
    color: #766ee1;
    cursor: pointer;
}
.sect .sect-four .sect-four-bottom{
    width: 100%;
    height: 450px;
    background-color: rgba(196, 196, 196, 0.24);

    text-align: center;
}
.sect .sect-four .sect-four-bottom .sect-four-bottom-left{
    width: 22%;
    height: 450px;
    background-color: #766ee1;
    text-align: center;
    float: left;
}
.sect-four-bottom-left:hover{
    transform: translate(0px,-2px);
    box-shadow: 0px 0px 5px;
}
.sect .sect-four .sect-four-bottom .sect-four-bottom-right{
    width: 75%;
    height: 450px;
    text-align: center;
    float: left;
    margin-left: 3%;
}
.sect .sect-four .sect-four-bottom .sect-four-bottom-right .sect-four-bottom-right-up{
    width: 100%;
    height: 215px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}




.sect .sect-five{
    width: 100%;
    height: 500px;
    margin-top: 30px;
}
.sect .sect-five .sect-five-top{
    width: 100%;
    height: 50px;
    text-align: center;
}
.sect .sect-five .sect-five-top{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.sect .sect-five .sect-five-top>div{
    font-size: 18px;
    line-height: 50px;

}
.sect .sect-five .sect-five-top .five-top-bottom:hover{
    color: #766ee1;
    cursor: pointer;
}

.sect .sect-five .sect-five-bottom{
    width: 100%;
    height: 450px;
    background-color: rgba(196, 196, 196, 0.24);
    text-align: center;
}
.sect .sect-five .sect-five-bottom .sect-five-bottom-left{
    width: 22%;
    height: 450px;
    background-color: #766ee1;
    text-align: center;
    float: left;
}
.sect-five-bottom-left:hover{
    transform: translate(0px,-2px);
    box-shadow: 0px 0px 5px;
}
.sect .sect-five .sect-five-bottom .sect-five-bottom-right{
    width: 75%;
    height: 450px;
    text-align: center;
    float: left;
    margin-left: 3%;
}
.sect .sect-five .sect-five-bottom .sect-five-bottom-right .sect-five-bottom-right-up{
    width: 100%;
    height: 215px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}




.sect .sect-six{
    width: 100%;
    height: 500px;
    margin-top: 30px;
}
.sect .sect-six .sect-six-top{
    width: 100%;
    height: 50px;
    /*background-color: #55e1cc;*/
    text-align: center;
}
.sect .sect-six .sect-six-top{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.sect .sect-six .sect-six-top>div{
    font-size: 18px;
    line-height: 50px;

}
.sect .sect-six .sect-six-top .six-top-bottom:hover{
    color: #766ee1;
    cursor: pointer;
}

.sect .sect-six .sect-six-bottom{
    width: 100%;
    height: 450px;
    background-color: rgba(196, 196, 196, 0.24);

    text-align: center;
}
.sect .sect-six .sect-six-bottom .sect-six-bottom-left{
    width: 22%;
    height: 450px;
    background-color: #766ee1;
    text-align: center;
    float: left;
}
.sect-six-bottom-left:hover{
    transform: translate(0px,-2px);
    box-shadow: 0px 0px 5px;
}
.sect .sect-six .sect-six-bottom .sect-six-bottom-right{
    width: 75%;
    height: 450px;
    text-align: center;
    float: left;
    margin-left: 3%;
}
.sect .sect-six .sect-six-bottom .sect-six-bottom-right .sect-six-bottom-right-up{
    width: 100%;
    height: 215px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}






.sect .sect-seven{
    width: 100%;
    height: 600px;
    margin-top: 30px;
    /*background-color: #f1bbff;*/
}
.sect .sect-seven .sect-seven-one{
    width: 100%;
    height: 50px;
    /*background-color: #87ddff;*/
    text-align: center;
    font-size: 20px;


}
.sect .sect-seven .sect-seven-two{
    width: 100%;
    height: 500px;
    /*background-color: #e15fa7;*/
    text-align: center;
}
.sect .sect-seven .sect-seven-two .sect-seven-two-up{
    width: 100%;
    height: 240px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.sect .sect-seven .sect-seven-two .sect-seven-two-bottom{
    width: 100%;
    height: 240px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.up-up{
    width:16.5%;
    height: 240px;
    background-color: white;
    position: relative;
    z-index: 1000;
    overflow: hidden;
    border-radius: 6px;
}
.up-up .img_style_01{
    width: 100%;
    height: 240px;
    object-fit: cover;
    transition:  width 0.5s,height 0.5s;
}
.teacher_info{
    position: absolute;
    top: 280px;
    right: 10px;
    font-size: 15px;
    text-align: center;
    transition:  width 0.5s,height 0.5s,font-size 0.5s,top 0.5s,right 0.5s;
}
.img_style{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
    transition:  width 0.5s,height 0.5s;
    padding: 10px;

}
.teacher_info_change{
    position: absolute;
    top: 5px;
    right: 0px;
    width: 114px;
    height: 56px;
    font-size: 12px;
    text-align: center;
    transition:  width 0.5s,height 0.5s,font-size 0.5s,top 0.5s,right 0.5s;
}




.sect .sect-eight{
    width: 100%;
    height: 400px;
    margin-top: 10px;
    background-color: rgba(31, 9, 6, 0.39);
}




/*******************************section*************************************/
/*******************************footer*************************************/
.end{
    /*margin-top: 10px;*/
    width: 100%;
    height: 200px;
    background-color: #333333;
}
.end .final{
    width: 1215px;
    height: 150px;
    background-color: #333333;
    margin:auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.final-left{
    width:45%;
    height:150px ;
    color: white;
}
.final-right{
    width:45%;
    height:130px ;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px 0px 0px 0px;
}
.final-right-one .right-one{
    font-size: 16px;


}
.final-right-one .right-two{
    margin-top: 20px;
    font-size: 12px;

}
.final-right-one .right-two ul li{
    width: 80%;
    height: 25px;
    color: gray;
}
.final-right-one .right-two ul li:hover{
    cursor: pointer;
    color: #55e1cc;
}

.final-right-two .final-right-img{
    margin-top: 20px;

}
.final-right-two .final-right-img img:hover{
    cursor: pointer;
}
.end-bottom{
    width: 100%;
    height: 50px;
    color: gray;
    text-align: center;
}

/*******************************footer*************************************/
/*******************************返回顶部*************************************/
.return-top{
    width: 40px;
    position: fixed;
    right: 0px;
    bottom: 40px;
}
.return-top .return-top-up{
    width: 40px;
    height: 50px;
    background-color: #00d6ff;
    color: white;
    text-align: center;
    font-size: 16px;
}
.return-top .return-top-up p{
    color: white;
}
.return-top .return-top-up p:hover{
    color: #000b11;
}
.return-top .return-top-up:hover{
    cursor: pointer;
}
.return-top .return-top-down{
    width: 40px;
    height: 80px;

}
.return-top-down img{
    background-color: #00d6ff;
    width: 100%;
    height: 100%;
    background-size: cover;
}























/*******************************返回顶部*************************************/
