body,header,main,footer,div,ul,li,a,input,span,p{
    margin: 0;
    padding: 0;
    border: none;
}
html{
    width: 100%;
}
body{
    width: 100%;
    font: normal 14px sans-serif;
    background-color: rgba(196, 196, 196, 0.35);
}
ul{
    list-style: none;
}
a{
    font: normal 16px sans-serif;
    text-decoration: none;
    color: white;
    transition: color 0.5s;
}
a:hover{
    color: gray;
}

/*********************【begin header】********************/
header{
    width: 100%;
    height: 40px;
    background: black;
}
header .header{
    /*width: 95%;*/
    width: 1215px;
    /*min-width: 860px;*/
    margin: 0 auto;
    height: 40px;
    background: black;
    display: flex;
    justify-content: space-between;
}
/* header_left */
header .header .header_left{
    width: 50%;
    min-width: 460px;
    height: 40px;
    /*background: pink;*/
    display: flex;
    justify-content: flex-start;
}
header .header .header_left .logo_img{
    height: 40px;
    width: 200px;
    /*background: red;*/
    padding: 5px 0px;
    box-sizing: border-box;
    margin-right: 10px;
}
header .header .header_left .logo_img>div{
    height: 30px;
    width: 200px;
    background: gray;
}
header .header .header_left .logo_img>div:hover{
    cursor: pointer;
}
header .header .header_left .nav{
    height: 40px;
    width: 400px;
    /*background: #59ff59;*/
}
header .header .header_left .nav ul{
    display: flex;
    justify-content: space-between;
}
header .header .header_left .nav ul li{
    height: 40px;
    width: 65px;
    /*background: #7e99ff;*/
    line-height: 40px;
    text-align: center;
}
header .header .header_left .nav ul li a{
    font-size: 16px;
}
/* header_right */
header .header .header_right{
    width: 35%;
    min-width: 400px;
    height: 40px;
    /*background: yellow;*/
    display: flex;
    justify-content: space-between;
    padding: 3px 0px;
    box-sizing: border-box;
}
header .header .header_right .search{
    height: 30px;
    width: 300px;
    /*background: pink;*/
    border: 2px solid black;
    display: flex;
    justify-content: flex-start;
}
header .header .header_right .search .search_text{
    height: 30px;
    width: 250px;
    outline: none;
}
header .header .header_right .search .search_button{
    height: 30px;
    width: 50px;
    outline: none;
    color: white;
    font-size: 14px;
    transition: color 0.5s;
}
header .header .header_right .search .search_button:hover{
    cursor: pointer;
    color: gray;
}
/***********/
/* 登录前 */
header .header .header_right .login_no{
    height: 34px;
    width: 100px;
    line-height: 34px;
    text-align: center;
    display: block;
}
header .header .header_right .login_no a{
    font-size: 14px;
}
/***********/
/* 登录后 */
header .header .header_right .login_yes{
    height: 34px;
    width: 100px;
    text-align: right;
    display: none;
}
header .header .header_right .login_yes img{
    height: 34px;
    width: 34px;
    border-radius: 50%;
}
header .header .header_right .login_yes img:hover{
    cursor: pointer;
}
header .header .header_right .login_yes .login_yes_h{
    display: none;
    width: 150px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.79);
    position: relative;
    text-align: left;
    z-index: 1000;
    padding: 20px 10px;
    box-sizing: border-box;
    right: 50px;
    flex-direction: column;
    justify-content: space-between;
}
header .header .header_right .login_yes:hover .login_yes_h{
    display: flex;
}
header .header .header_right .login_yes .login_yes_h .login_yes_h_hr{
    width: 130px;
    height: 1px;
    background-color: #b9b9b9;
}
header .header .header_right .login_yes .login_yes_h div:not([class='login_yes_h_hr']){
    margin-left: 10px;
    transition: color 0.5s;
}
header .header .header_right .login_yes .login_yes_h div:not([class='login_yes_h_hr']):hover{
    cursor: pointer;
    color: #a0b8ff;
}
/********************* end header ********************/




/**********************************body*****************************/
.first{
    width: 100%;
    height: 100px;
    background-image: url("http://pxebavmp1.bkt.clouddn.com/images/note1.png");
    background-size: cover;
    margin-top: 0px;
}
.first .first-left{
    width: 1215px;
    height: 100px;
    margin: auto;
}
.first .first-left .left-text{
    width: 400px;
    height: 100px;
    text-align: start;
    line-height: 80px;
    color: white;
    font-size: 25px;
}

/*second*/
.second{
    width: 1215px;
    height: 760px;
    margin: auto;
    display: flex;
}
.second .second-left{
    width: 300px;
    height: 760px;
}
.second .second-left .second-a{
    width: 300px;
    height: 89px;
    display: flex;
    border-bottom: 1px solid gray;
    background-color: white;

}
.second-a>div{
    width:60px ;
    height: 60px;
    border-radius: 50%;
    padding: 15px;

}
.second-a  li{
    height: 30px;
}
#btn{
    width: 60px;
    height: 30px;
    background-color: black;
    color: white;
    outline: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
}
#btn:hover{
    cursor: pointer;
}

/*b*/
.second-left .second-b{
    width: 300px;
    height: 79px;
    border-bottom: 1px solid gray;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: white;


}
.second-left .second-b .item-a{
    margin-top: 15px;
}
.second-left .second-b .item-a .li1{
    font-size: medium;
}
.second-left .second-b .item-a ul li{
    height: 25px;
}
/*b*/

/*c*/

.second-left .second-c{
    width: 300px;
    height: 120px;
    /*border-bottom: 1px solid gray;*/
    display: flex;
    justify-content: space-between;
    background-color: white;

}
.second-c .c-a{
    width:140px ;
    height: 120px;
}
.second-c .c-a ul li{
    padding: 5px;
    font-size: 16px;
    height: 18px;
    margin-top: 5px;
    margin-left: 5px;
}
.second-c .c-b{
    width:150px ;
    height: 120px;
}
.second-c .c-b ul li{
    padding: 5px;
    font-size: 16px;
    height: 18px;
    margin-top: 5px;
    margin-left: 5px;
}

/*c*/

/*d*/
.second-left .second-d{
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    margin-top: 10px;
    text-align: center;
}
.second-left .second-d .d-a{
    display: flex;
}
.second-left .second-d .d-a .divide{
    width: 4px;
    height: 22px;
    background-color: red;
    margin-left: 10px;
    margin-right: 10px;
}
.second-d .d-b{
    width: 300px;
    height: 100px;
    /*background-color: #0099FF;*/
}
.d-b ul li{
    padding: 5px;
    font-size: 16px;
    height: 25px;
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
}
.d-b ul li .course{
    margin-left: -140px;
}

/*d*/
/*e*/
.second .second-e{
    width: 300px;
    height: 80px;
    background-color: white;
    margin-top: 10px;
    text-align: center;
}
.second .second-e .e-a{
    display: flex;
}
.second .second-e .e-a>div{
    margin-top: 10px;
}

.second .second-e .e-a .divide{
    width: 4px;
    height: 22px;
    background-color: red;
    margin-left: 10px;
    margin-right: 10px;
}
.second-e .e-b{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.second-e .e-b .e-1{
    margin-left: 10px;
}
.second-e .e-b .e-2{
    margin-right: 10px;
}

/*e*/
/*fff*/
.second-left .second-f{
    width: 300px;
    height: 210px;
    margin-top: 10px;
    background-color: white;
}
.second .second-f .f-a{
    display: flex;
}
.second .second-f .f-a>div{
    margin-top: 10px;
}
.second .second-f .f-a .divide{
    width: 4px;
    height: 22px;
    background-color: red;
    margin-left: 10px;
    margin-right: 10px;
}
.second .second-f .f-b{
    margin-top: 10px;
}
.second .second-f .f-b ul li{
    margin-left: 10px;
    height: 50px;

}
.second .second-f .f-b ul li>div{
    cursor: pointer;
    color: chocolate;
}





/*fff*/


.second .second-right{
    width: 900px;
    height: 760px;
    margin-left: 15px;
}
.second .second-right .right-up{
    width: 900px;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid gray;
}
.right-up-one{
    width: 440px;
    height: 50px;
    float: left;
}
.right-up-one form{
    padding-top: 15px;
    padding-left: 10px;
    font-size: 16px;
}
.right-up-one label:hover{
    cursor: pointer;
}
.right-up-two{
    width: 450px;
    height: 50px;
    float: left;
    margin-left: 10px;
}
.right-up-two ul{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}
.right-up-two ul li:hover{
    cursor: pointer;
    color: brown;
}

.right-down{
    width: 900px;
    height: 710px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.right-down .right-down-one{
    width: 900px;
    height: 120px;
    background-color: white;
    border-bottom: 1px solid gray;
}

.right-down .down-a{
    width: 890px;
    height: 40px;
    display: flex;
    margin-left: 10px;
}
.down-a span{
}
.right-down .down-a .item-one{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid red;
    background-color: white;
    color: red;
    text-align: center;
    line-height: 30px;
    font-size: medium;
    margin-top: 10px;
}
.right-down .down-a span:hover{
    cursor: pointer;
    color: red;
}
.right-down .down-a .item-one:after{
    content: '原';
}


.down-b{
    width: 98%;
    height: 55px;
    margin: auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp:2 ;
    font-size: 15px;
}
.down-b p:hover{
    cursor: pointer;
}
.down-c{
    width: 98%;
    height: 25px;
    margin: auto;


}
.down-c-left{
    margin-top: 5px;
}
.down-c-left ul{
    display: flex;
    justify-content: start;
    color: gray;
    font-size: 14px;
    float: left;
}
.down-c-right{
    float: left;
    margin-left: 430px;
    display: none;
}
.down-c-right ul{
    display: flex;
    justify-content: right;
}
.down-c-right ul li:hover{
    cursor: pointer;

}
/*second*/



/****删除提示框*******/
.panel{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    display: none;
}
.panel .center{
    width: 400px;
    height: 150px;
    background-color: whitesmoke;
    position: fixed;
    margin: auto auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-radius: 10px;
}
.panel .center .close_all{
    position: absolute;
    top:20px;
    right:30px;
    width:15px;
    height:15px;
    font-size:15px;
    cursor: pointer;
}
.panel .center .close_all img{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
}
.panel .center>h3{
    position: absolute;
    top: 15px;
    left: 30px;
}
.panel .center .confirm_info{
    width: 340px;
    height: 40px;
    margin: 60px 30px 0 30px;
    box-sizing: border-box;
    padding-top: 5px;
}
.panel .center .bottom_btn{
    width: 340px;
    height: 30px;
    margin: 0 30px 0 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}
.panel .center .bottom_btn .btn_cancel{
    height: 30px;
    line-height: 30px;
    padding-right: 10px;
}
.panel .center .bottom_btn .btn_cancel .btn_can{
    height: 30px;
    color: #a2a2a2;
}
.panel .center .bottom_btn .btn_cancel .btn_can:hover{
    color: gray;
    cursor: pointer;
}
.panel .center .bottom_btn .btn_submit{
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
.panel .center .bottom_btn .btn_submit .btn_sub{
    height: 30px;
    color: lightskyblue;
    cursor: pointer;
}
/**********************/
















/**********************************body*****************************/




















/**********************************footer*****************************/
/**********************************footer****************************/
